<!DOCTYPE html>
<html ng-app="wallApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>
  <body ng-controller="MainController as vm">
    <h2>Welcome to the <%=title %>!</h2>
    <h4>
      This is a single page app built with the MEAN stack and hosted on AWS EC2.<br>
      You can find the <a href="https://github.com/supermikol/mean-wall">repo here</a>.
    </h4>
    <input type="text" ng-model="name">
    <input type="text" ng-model="message">
    <input type="button" ng-click="submitMessage()" value="Vandalize!">
    <p id="msg_display">
      {{name}} says: {{message}}</p>
    <p>
    (Click on a message to see what happens!)</p>

    <div id="wall">
      <ul>
        <li ng-repeat="msg in messages | orderBy: '-'" ng-click="deleteMessage(msg._id)">
          {{msg.name}} says: {{msg.message}}
        </li>
      </ul>
    </div>
  </body>
  <script src="/javascripts/app.js"></script>
</html>
